app:
  name: streamlink
  rel: 1
  entry: streamlink
git:
  repo: https://github.com/streamlink/streamlink.git
  ref: 7.6.0
builds:
  aarch64:
    image: ghcr.io/streamlink/appimage-buildenv-aarch64@sha256:419d63798b9085cf048b3eb760381f7b3fb7b1ae78397eecbe76cf9e77e1e45e
    tag: manylinux_2_28_aarch64
    abi: cp313-cp313
    bundles:
      ffmpeg:
        filename: ffmpeg-n8.0-linuxarm64-gpl-8.0.tar.xz
        url: https://github.com/streamlink/FFmpeg-Builds/releases/download/20250822-1/ffmpeg-n8.0-linuxarm64-gpl-8.0.tar.xz
        sha256: ebac10de45903f715f061206c664802c7839a3574422cb4f7e571bde7c3e04dc
        type: tar
        sourcedir: ffmpeg-n8.0-linuxarm64-gpl-8.0
        files:
          - from: bin/ffmpeg
            to: usr/bin/ffmpeg
          - from: LICENSE.txt
            to: usr/share/licenses/ffmpeg.txt
          - from: BUILDINFO.txt
            to: usr/share/ffmpeg/buildinfo.txt
    dependency_override:
      # https://github.com/urllib3/urllib3/blob/2.5.0/pyproject.toml#L44
      - brotli>=1.0.9  # optional urllib3 dependency
      - zstandard>=0.18.0  # optional urllib3 dependency on <=py314
    dependencies:
      attrs: 25.4.0 --hash=sha256:adcf7e2a1fb3b36ac48d97835bb6d8ade15b8dcce26aba8bf1d14847b57a3373
      Brotli: 1.1.0 --hash=sha256:3c0ef38c7a7014ffac184db9e04debe495d317cc9c6fb10071f7fefd93100a4f
      certifi: 2025.10.5 --hash=sha256:0f212c2744a9bb6de0c56639a6f68afe01ecd92d91f14ae897c4fe7bbeeef0de
      charset-normalizer: 3.4.4 --hash=sha256:6b39f987ae8ccdf0d2642338faf2abb1862340facc796048b604ef14919e55ed
      h11: 0.16.0 --hash=sha256:63cf8bbe7522de3bf65932fda1d9c2772064ffb3dae62d55932da54b31cb6c86
      idna: 3.11 --hash=sha256:771a87f49d9defaf64091e6e6fe9c18d4833f140bd19464795bc32d966ca37ea
      isodate: 0.7.2 --hash=sha256:28009937d8031054830160fce6d409ed342816b543597cece116d966c6d99e15
      lxml: 6.0.2 --hash=sha256:eb2a12d704f180a902d7fa778c6d71f36ceb7b0d317f34cdc76a5d05aa1dd1df
      outcome: 1.3.0.post0 --hash=sha256:e771c5ce06d1415e356078d3bdd68523f284b4ce5419828922b6871e65eda82b
      pycountry: 24.6.1 --hash=sha256:f1a4fb391cd7214f8eefd39556d740adcc233c778a27f8942c8dca351d6ce06f
      pycryptodome: 3.23.0 --hash=sha256:67bd81fcbe34f43ad9422ee8fd4843c8e7198dd88dd3d40e6de42ee65fbe1490
      PySocks: 1.7.1 --hash=sha256:2725bd0a9925919b9b51739eea5f9e2bae91e83288108a9ad338b2e3a4435ee5
      requests: 2.32.5 --hash=sha256:2462f94637a34fd532264295e186976db0f5d453d1cdd31473c85a6a161affb6
      sniffio: 1.3.1 --hash=sha256:2f6da418d1f1e0fddd844478f41680e794e6051915791a034ff65e5f100525a2
      sortedcontainers: 2.4.0 --hash=sha256:a163dcaede0f1c021485e957a39245190e74249897e2ae4b2aa38595db237ee0
      trio: 0.31.0 --hash=sha256:b5d14cd6293d79298b49c3485ffd9c07e3ce03a6da8c7dfbe0cb3dd7dc9a4774
      trio-websocket: 0.12.2 --hash=sha256:df605665f1db533f4a386c94525870851096a223adcb97f72a07e8b4beba45b6
      urllib3: 2.5.0 --hash=sha256:e6b01673c0fa6a13e374b50871808eb3bf7046c4b125b216f6bf1cc604cff0dc
      websocket-client: 1.9.0 --hash=sha256:af248a825037ef591efbf6ed20cc5faa03d3b47b9e5a2230a529eeee1c1fc3ef
      wsproto: 1.2.0 --hash=sha256:b9acddd652b585d75b20477888c56642fdade28bdfd3579aa24a4d2c037dd736
      zstandard: 0.25.0 --hash=sha256:bfc4e20784722098822e3eee42b8e576b379ed72cca4a7cb856ae733e62192ea
  x86_64:
    image: ghcr.io/streamlink/appimage-buildenv-x86_64@sha256:7d87d9683f362c1d71634c82358c8b99fb7ccd581e84bc83b73ead7ba5b563de
    tag: manylinux_2_28_x86_64
    abi: cp313-cp313
    bundles:
      ffmpeg:
        filename: ffmpeg-n8.0-linux64-gpl-8.0.tar.xz
        url: https://github.com/streamlink/FFmpeg-Builds/releases/download/20250822-1/ffmpeg-n8.0-linux64-gpl-8.0.tar.xz
        sha256: ca58e2e58294a6a4a0344ca4b069eb678e59c095f56af810d6c0660a9e985bec
        type: tar
        sourcedir: ffmpeg-n8.0-linux64-gpl-8.0
        files:
          - from: bin/ffmpeg
            to: usr/bin/ffmpeg
          - from: LICENSE.txt
            to: usr/share/licenses/ffmpeg.txt
          - from: BUILDINFO.txt
            to: usr/share/ffmpeg/buildinfo.txt
    dependency_override:
      # https://github.com/urllib3/urllib3/blob/2.5.0/pyproject.toml#L44
      - brotli>=1.0.9  # optional urllib3 dependency
      - zstandard>=0.18.0  # optional urllib3 dependency on <=py314
    dependencies:
      attrs: 25.4.0 --hash=sha256:adcf7e2a1fb3b36ac48d97835bb6d8ade15b8dcce26aba8bf1d14847b57a3373
      Brotli: 1.1.0 --hash=sha256:a93dde851926f4f2678e704fadeb39e16c35d8baebd5252c9fd94ce8ce68c4a0
      certifi: 2025.10.5 --hash=sha256:0f212c2744a9bb6de0c56639a6f68afe01ecd92d91f14ae897c4fe7bbeeef0de
      charset-normalizer: 3.4.4 --hash=sha256:a8a8b89589086a25749f471e6a900d3f662d1d3b6e2e59dcecf787b1cc3a1894
      h11: 0.16.0 --hash=sha256:63cf8bbe7522de3bf65932fda1d9c2772064ffb3dae62d55932da54b31cb6c86
      idna: 3.11 --hash=sha256:771a87f49d9defaf64091e6e6fe9c18d4833f140bd19464795bc32d966ca37ea
      isodate: 0.7.2 --hash=sha256:28009937d8031054830160fce6d409ed342816b543597cece116d966c6d99e15
      lxml: 6.0.2 --hash=sha256:ef9266d2aa545d7374938fb5c484531ef5a2ec7f2d573e62f8ce722c735685fd
      outcome: 1.3.0.post0 --hash=sha256:e771c5ce06d1415e356078d3bdd68523f284b4ce5419828922b6871e65eda82b
      pycountry: 24.6.1 --hash=sha256:f1a4fb391cd7214f8eefd39556d740adcc233c778a27f8942c8dca351d6ce06f
      pycryptodome: 3.23.0 --hash=sha256:c8987bd3307a39bc03df5c8e0e3d8be0c4c3518b7f044b0f4c15d1aa78f52575
      PySocks: 1.7.1 --hash=sha256:2725bd0a9925919b9b51739eea5f9e2bae91e83288108a9ad338b2e3a4435ee5
      requests: 2.32.5 --hash=sha256:2462f94637a34fd532264295e186976db0f5d453d1cdd31473c85a6a161affb6
      sniffio: 1.3.1 --hash=sha256:2f6da418d1f1e0fddd844478f41680e794e6051915791a034ff65e5f100525a2
      sortedcontainers: 2.4.0 --hash=sha256:a163dcaede0f1c021485e957a39245190e74249897e2ae4b2aa38595db237ee0
      trio: 0.31.0 --hash=sha256:b5d14cd6293d79298b49c3485ffd9c07e3ce03a6da8c7dfbe0cb3dd7dc9a4774
      trio-websocket: 0.12.2 --hash=sha256:df605665f1db533f4a386c94525870851096a223adcb97f72a07e8b4beba45b6
      urllib3: 2.5.0 --hash=sha256:e6b01673c0fa6a13e374b50871808eb3bf7046c4b125b216f6bf1cc604cff0dc
      websocket-client: 1.9.0 --hash=sha256:af248a825037ef591efbf6ed20cc5faa03d3b47b9e5a2230a529eeee1c1fc3ef
      wsproto: 1.2.0 --hash=sha256:b9acddd652b585d75b20477888c56642fdade28bdfd3579aa24a4d2c037dd736
      zstandard: 0.25.0 --hash=sha256:8e735494da3db08694d26480f1493ad2cf86e99bdd53e8e9771b2752a5c0246a
