[Desktop Entry]
Type=Application
Name=Streamlink
Exec=streamlink
Comment=A command-line utility that extracts streams from various services and pipes them into a video player of choice.
Icon=streamlink
Categories=AudioVideo;Development;Network;
Terminal=true
