name: Build and deploy
on:
  push: {}

jobs:
  build:
    name: Build
    strategy:
      matrix:
        include:
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            bundle: ""
          - arch: x86_64
            runs-on: ubuntu-24.04
            bundle: ""
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            bundle: ffmpeg
          - arch: x86_64
            runs-on: ubuntu-24.04
            bundle: ffmpeg
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install -U --upgrade-strategy=eager -r requirements.txt
      - name: appimage
        run: |
          SOURCE_DATE_EPOCH=$(git show -s --format=%ct) ./build.sh --updinfo --bundle=${{ matrix.bundle }}
      - name: Get file name
        id: vars
        run: |
          echo "file_name=$(cd dist && ls *.AppImage)" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.vars.outputs.file_name }}
          path: dist/*
  deploy:
    name: Deploy
    needs:
      - build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - run: mkdir -p dist
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - run: ./deploy.sh dist/**/*
        env:
          RELEASES_API_KEY: ${{ secrets.GITHUB_TOKEN }}
