name: Preview build
run-name: "Preview build - ${{ inputs.ref }}"

on:
  workflow_dispatch:
    inputs:
      ref:
        description: A git ref on the Streamlink git repo
        default: master
        required: true
        type: string

jobs:
  build:
    name: "${{ inputs.ref }} (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
            bundle: ffmpeg
          - arch: x86_64
            runs-on: ubuntu-24.04
            bundle: ffmpeg
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          python -m pip install -U --upgrade-strategy=eager -r requirements.txt
      - name: Build
        run: |
          ./build.sh --arch "${{ matrix.arch }}" --gitref "${{ inputs.ref }}" --updinfo --bundle "${{ matrix.bundle }}"
      - uses: actions/upload-artifact@v7
        with:
          archive: false
          path: dist/*.AppImage
